.pratos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pratosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}
.main-title {
  text-align: center;
  color: var(--red);
}

.main-subtitle {
  text-align: center;
  color: var(--black);
}
