:root {
  --red: #d96060;
  --white: #f4f4f4;
  --yellow: #f6f8a4;
  --black: #343131;
  --green: #5ee435;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #e5e5e5;
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.pratos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pratosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}
.main-title {
  text-align: center;
  color: var(--red);
}
.main-subtitle {
  text-align: center;
  color: var(--black);
}
