:root {
  --red: #d96060;
  --white: #f4f4f4;
  --yellow: #f6f8a4;
  --black: #343131;
  --green: #56c662;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #e5e5e5;
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0px;
  padding: 0px;
  margin-bottom: 100px;
}

h1,
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  *,
  body {
    font-size: 90.5%;
  }
}
